:root {
  --color-grey: #242424;
  --color-white: #fff;
  --color-red: #ff0000;
  --color-blue: #0000ff;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  background-color: var(--color-grey);
  color: var(--color-white);
  padding: 2rem;
  height: 100vh;
}
