@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
:root {
  --color-grey: #242424;
  --color-white: #fff;
  --color-red: #e53935;
  --color-green: #43a047;
  --color-blue: #1e88e5;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--color-grey);
  color: var(--color-white);
  min-height: 100vh;
}
