.header {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: drop 0.8s ease-in-out;

  &__title {
    margin: 1rem;
    font-size: 3rem;
    font-weight: 400;
  }
}

.header-secondary {
  font-size: 2rem;
  font-weight: 300;
}
